# API key for getting Weather data
env = WEATHER_API_KEY,
# Location to get weather data for
env = WEATHER_LAN,
env = WEATHER_LON,
# airnow.tehran.ir session ID for getting AQI
env = AQI_SESSION_ID,
# AQI station names in Persian
env = AQI_STATION_1,
env = AQI_STATION_2,
